@import '/styles/variables.sass'

.article
  display: block
  position: relative
  a
    color: $color_4
    background: $color_2
    padding: 2px 5px
    border-radius: 1px
    text-transform: uppercase
    &:hover,
    &:active
      background: $color_3
      color: $color_dark
      box-shadow: 0 0 10px transparentize($color_3, .25)
  & > div
    hr
      margin-bottom: 35px
    hr:last-child
      display: none
  h2, h3
    color: #fff
    margin-top: -10px
    margin-bottom: 10px

  .date
    color: rgba(255,255,255,.5)
  p
    margin-top: 10px

.members
  padding: 0
  margin: 0
  list-style-type: none
  color: $color_5
  li
    line-height: 20px
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    padding: 3px 0
    margin-left: -4px
    span
      display: inline-block
      width: 20px
      height: 20px
      background-size: contain
      background-position: 50% 50%
      background-repeat: no-repeat
      border-radius: 999px
      margin-right: 10px