@import '/styles/variables.sass'

.donatebg
  background: url('/assets/images/banner-donations.jpg') no-repeat 50% 0
  position: absolute
  background-size: cover
  height: 300px
  width: 100%
  opacity: .5

.donatebgglitch
  background: url('https://media.giphy.com/media/MfLZdaDjjTxaU/giphy.gif')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  /*effect*/
  mix-blend-mode: color
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  filter: hue-rotate(220deg)

.donations
  position: relative
  padding: 150px 60px
  height: 300px
  font-size: 16px
  line-height: 1.6
  width: 100%
  @media(max-width: 600px)
    padding-left: 30px
    padding-right: 30px

.title
  font-family: $font_mono
  font-size: 32px
  letter-spacing: 0.05em
  line-height: 1.1

.heading
  font-family: $font_title
  font-size: 58px
  line-height: 1
  margin-bottom: 15px
  color: $color_3
  mix-blend-mode: color-dodge
  @media(max-width: 600px)
    font-size: 42px

p.subtitle
  margin-top: 0
  //color: $color_4
  font-size: 18px
  font-style: italic
  letter-spacing: .08em

.divider
  margin-left: 0
  border-color: rgba(255,255,255,.12)
  border-width: 2px
  margin: 5px 0 50px

.sidebyside
  padding: 10px 60px 30px
  flex-flow: column nowrap
  justify-content: flex-start
  align-content: flex-start
  align-items: stretch
  @media(max-width: 600px)
    padding: 10px 20px 20px
  form
    padding-top: 50px
    border-top: 2px solid rgba(255,255,255,.12)
    margin-top: 30px
    padding-bottom: 30px
    display: none
    @media(max-width: 1000px)
      display: block
    button
      margin-left: auto

.content
  //padding: 30px 60px 30px
  margin-left: auto
  margin-right: auto

.form
  //text-align: center

  label
    color: $color_2
    //font-weight: bold

  h3
    margin-top: 0
    margin-bottom: 10px
  p
    margin-top: 0
    line-height: .9
    color: $color_5

  button
    color: #fff
    margin-top: 30px