@import '/styles/variables.sass'

.title
  margin-top: 300px
  margin-bottom: 10px

.books
  list-style-type: none
  padding: 0
  margin: 0
  a
    display: block
    padding: 10px
    border-bottom: 1px solid rgba(255,255,255,.12)
    position: relative
    padding-left: 30px
    svg
      width: 12px
      fill: $color_5
      margin-right: 6px
      position: absolute
      left: 4px
      top: 50%
      margin-top: -6px

.learnbg
  background: url('/assets/images/banner-library.jpg') no-repeat 0 100%
  position: absolute
  top: 0
  left: 0
  background-size: cover
  height: 300px
  width: 100%
  opacity: .5

.learnbgglitch
  background: url('https://media.giphy.com/media/MfLZdaDjjTxaU/giphy.gif')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  /*effect*/
  mix-blend-mode: color
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  filter: hue-rotate(220deg)