@import '/styles/variables.sass'

.nfts
  list-style-type: none
  padding: 0

.notation
  text-align: center

.headings
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  font-weight: bold
  color: $color_4

  & > *
    flex: 1 0 auto
    text-align: center

.nft
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: stretch
  border: 2px solid rgba(255,255,255,.12)
  margin-bottom: 2px
  color: $color_5
  &:hover,
  &:active
    //background: $color_1
  .media
    padding: 0
    min-height: 202px
    line-height: 0
  span
    img
      line-height: 0
  small
    line-height: 1
  & > *
    border: 1px solid $color_1
    margin: 2px 1px
  .name
    flex: 1 0 200px
    padding: 20px
    font-size: 36px
    color: $color_3
    b
      font-weight: normal
      text-transform: uppercase
      font-size: 16px
      display: block
      color: $color_4
      line-height: 16px
      margin-bottom: -5px
  .status
    flex: 1 0 auto
    padding: 20px
  h2
    margin: 0
    line-height: .6
  .subtitle
    margin: 0
    line-height: 1
    text-transform: uppercase
    font-size: 16px

.roadmap
  list-style-type: none

.staking
  display: flex
  flex-flow: column
  justify-content: flex-start
  align-items: stretch
  border: 1px solid $color_dark
  margin-bottom: 30px

.loanrow,
.stakerow,
.subrow
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: center
  border: 1px solid $color_1
  padding: 5px 5px 5px 15px
  background: $color_1
  margin-bottom: 2px
  label
    text-transform: uppercase
    font-size: 18px
    color: $color_4
  select,
  input
    margin: 0 0 20px
  span
    flex: 1 0 auto
    @media(max-width: 700px)
      padding-bottom: 10px

  @media(max-width: 700px)
    flex-flow: column nowrap
    padding: 15px

.loanrow,
.subrow
  background: lighten($color_1, 4%)

.subrow
  flex-flow: column nowrap
  align-items: flex-start
  background: lighten($color_1, 2%)
  margin-top: -2px
  padding: 15px
  a
    margin-left: auto
    @media(max-width: 700px)
      margin-right: auto